{% style %}
	.main-product {
		padding: 100px 0;
	}
	.selector-wrapper label {
		display: block;
		font-weight: 700;
		margin-bottom: 10px;
	}
{% endstyle %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<section class="main-product">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="product-left">
					<img
						src="{{ featured_image.src | image_url: width: 500 }}"
						width="500"
						height="auto"
						alt="{{ featured_image.alt }}"
						id="thumbnail"
					>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="prodcut-right">
					<h3>{{ product.title }}</h3>
					<div id="varint-price">
						<span>{{ current_variant.price | money }}</span>
						<s>
							<span>
								{%- if current_variant.compare_at_price > current_variant.price -%}
									{{- current_variant.compare_at_price -}}
								{%- endif -%}
							</span>
						</s>
					</div>
					<p>{{ product.description }}</p>
					<div class="product-from">
						{% form 'product', product %}
							{% comment %} <input type="hidden" name="id" value="{{ current_variant.id }}"> {% endcomment %}
							{% if product.has_only_default_variant %}
								<input type="hidden" name="id" value="{{ current_variant.id }}">
							{% else %}
								<select name="id" id="varint-select">
									{% for variant in product.variants %}
										<option value="{{ variant.id }}">
											{{ variant.title }} - {{ variant.price | money }}
										</option>
									{% endfor %}
								</select>
							{% endif %}

							<input
								type="number"
								name="quantity"
								id="quantity"
								min="1"
								max="{{ current_variant.inventory_quantity }}"
								value="1"
							>

							<input
								type="submit"
								value="Add to Cart"
								id="add-to-cart-btn"
								{% if current_variant.available == false %}
									disabled="disabled"
								{% endif %}
							>
							{{ form | payment_button }}
						{% endform %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
	"name": "Main Product",
	"class": "lwt-product",
	"settings": [],
	"presets": [
		{
			"name": "Main Product"
		}
	]
}
{% endschema %}
